.product-detail-page {
  .product-detail-content {
    display: flex;
    gap: 2rem;
    margin-bottom: 4rem;

    .product-detail-img {
      max-width: 600px;
      width: 100%;
      border-radius: 12px;
      border: 8px solid #fff;
    }

    .product-detail-info {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 20px;
      font-size: 1.1rem;
      color: #333;

      .product-title {
        font-size: 1.8rem;
        font-weight: 700;
        color: #333;
      }
      .product-detail-description {
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
        color: #474747;
      }
    }
  }

  .related-products {
    h2 {
      font-size: 1.8rem;
      margin-bottom: 1rem;
    }

    .related-cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 1.5rem;

      .related-card {
        border: 2px solid #fff;
        border-radius: 10px;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
        background: #fafafa;
        transition: 0.3s ease;

        img {
          width: 100%;
          max-height: 300px;
          object-fit: cover;
          border-radius: 8px;
        }

        h3 {
          margin-top: 0.5rem;
          color: #222;
        }

        &:hover {
          box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
          transform: translateY(-3px);
        }
      }
    }
  }
}

.coming-soon {
  display: flex;
  width: 100%;
  height: 50vh;

  .comingsoon-txt {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 100%;
    height: 100px;
    padding: 20px;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 1.7rem;
    font-weight: 600;
    color: #333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.02);
  }
}

@media (min-width: 300px) and (max-width: 1024px) {
  .product-detail-page {
    .product-detail-content {
      flex-direction: column;
    }
  }
}
